.accordion {
    grid-column: span 12;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
}

.accordion.dark {
    background-color: #121212 !important;
    color: rgba(255,255,255,0.8) ;
    transition: all 1s;
}

/* .dark-mode {
    background-color: #121212 !important;
    color: rgba(255,255,255,0.8) ;
    transition: all 1s;
  } */

.accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.accordion-item:hover {
    width: 80%;
}

.accordion-item:hover~.accordion-item {
    width: 20%;
}

.accordion-item:hover~.accordion-item:hover {
    width: 40%;
}

.accordion-item:hover~.accordion-item:hover~.accordion-item:hover {
    width: 60%;
}

.accordion-item:hover~.accordion-item:hover~.accordion-item:hover~.accordion-item:hover {
    width: 80%;
}


.accordion-item-header {
    width: 10rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4C4948;
    margin-bottom: 10px;
    background-color: #6CC6CB;
    border-radius: 0.5rem;
}

.accordion-item-header-text {
    margin: 0.5rem;
}

.accordion-item-body {
    font-size: 1rem;
    padding: 1.5rem;
    text-align: center;
    display: none;
}

.accordion-item:hover .accordion-item-body {
    display: block;
}

@keyframes accordion-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-test {
    animation-name: accordion-fade;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
  }