.blog-detail {
    grid-area: main;
    margin: 1rem 3rem;
    transition: all 1s;
  }
  
  .blog-detail.dark {
    background-color: #121212;
    color: black;
    transition: all 1s;
  }
  
  .detail-container.dark {
    background-color: #121212;
    color: rgba(255, 255, 255, 0.8);
    transition: all 1s;
  }
  
  @keyframes detail-container-fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .detail-container {
    margin: 3rem 5rem;
    font-size: larger;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    animation-name: detail-container-fade;
    animation-duration: 1.5s;
  }
  
  .detail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 3rem;
  }
  
  .detail-title {
    font-size: 2.5rem;
    margin: 20px 0 8px;
    text-align: center;
  }
  
  .detail-img {
    width: 60%;
    /* make the picture at center */
    display: block;
    margin: 0 auto;
      

  }
  
  .detail-blockquote {
    line-height: 2;
    margin: 1rem 0;
    font-size: 1 rem;
    border-left: 0.2rem solid #1685a9;
    padding: 10px 1rem;
    background-color: #ecf7fe;
    border-radius: 4px;
  }
  
  .detail-blockquote.dark {
    border-left: 0.2rem solid grey;
    background-color: #272829;
  }
  
  
  
  blockquote:hover {
    border-radius: 8px !important;
    box-shadow: 0px 4px 12px 12px rgba(7, 17, 27, 0.15);
  }
  
  @media screen and (max-width: 44rem) {
    .blog-detail {
      margin: 0;
    }
  
    .detail-container {
      margin: 0;
    }
  
    body {
      font-size: 14px;
    }
  }