.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: burlywood;
}

.footer_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
    list-style: none;
}
